__pycache__/
*.py[cod]

.env
*.log
*.out.log
*.err.log

.cwasa-*/
.cwasa-*

dataset/

data/users.json
data/sessions.json
data/upload_tmp.jpg
data/phrases_*.json

flask_motion_fix.out.log
flask_motion_fix.err.log
